doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   .container
    nav
     ul
      li
       a(href='/') Estude Mais
      li
       a(href='/alunos/adicionarAluno') Adicionar Aluno
      li
       a(href='/alunos/listaAluno') Alunos
    != messages()
    block content
    footer
    p Exemplo de uso do MockApi &copy; 2018
